RewriteEngine on

RewriteCond %{REQUEST_URI} !\.(js|css)$ [NC]
RewriteCond %{REQUEST_URI} !\.(gif|jpg|png|swf)$ [NC]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule .* index.php